@media only screen and (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "head"
      "navi"
      "main"
      "arti"
      "foot"
      ;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .publis {
    flex-direction: column;
  }
}
